* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fffff2; }

.cf:before, .site-header:before,
.site-footer:before,
.main:before,
.cf:after,
.site-header:after,
.site-footer:after,
.main:after {
  content: " "; }

.cf:after, .site-header:after,
.site-footer:after,
.main:after {
  clear: both; }

.inner {
  max-width: 800px;
  padding: 0 1em;
  margin: 0 auto; }

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0000rem;
  font-weight: 300;
  line-height: 1.5000rem; }

h1 {
  font-size: 2.6250rem;
  font-weight: 300;
  line-height: 3.0000rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem; }

h2 {
  font-size: 1.6250rem;
  font-weight: 300;
  line-height: 3.0000rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem; }

p, ul {
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

small, aside {
  font-size: 0.6250rem; }

.no-break {
  display: inline-block; }

.site-header {
  padding: 4em 0;
  background-color: #ce4f4b; }

.portrait-box {
  display: block;
  width: 135px;
  margin: 0 auto; }
  .portrait-box img {
    max-width: 100%; }

.welcome {
  display: table-cell;
  height: 135px;
  color: #8e302d;
  font-size: 35px;
  font-style: italic;
  text-align: center;
  vertical-align: middle; }
  .welcome .highlight {
    color: #fff; }

@media screen and (min-width: 600px) {
  .portrait-box {
    float: left;
    margin: 0 1em 1em 0; }

  .welcome {
    text-align: left; } }
.post {
  padding-left: 1.5em; }

.post-title {
  position: relative; }
  .post-title:before {
    position: absolute;
    display: block;
    top: 0;
    left: -1.5em;
    width: .5em;
    height: 100%;
    background-color: #4e9187;
    content: " "; }
