/**************************************
  POSTS
**************************************/

.post {

}

.post__header {
  padding: $space 0;
  padding-bottom: 0;

  @include respond-to(medium) {
    padding-left: 38.2%;
  }
}

.post__image {
  width: 100%;
}

.post__title {
  margin-bottom: $space*2;
  color: $body-copy-light;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 900;
  line-height: 1.3;

  @include respond-to(medium) {
    margin-left: -38.2%;
  }
}

.post__body {}

.post__excerpt {
  color: $body-copy-light;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
}

.post__details {

  li {
    // display: inline-block;
    padding-right: $space*2;
  }

  // @include respond-to(medium) {
  //   width: 38.2%;
  //   margin-left: -38.2%;
  //   float: left;
  //   text-align: right;
  // }

  h4 {
    font-size: .618rem;
    margin-bottom: 0;
    color: $body-copy-lighter;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
  }

  p {
    margin-bottom: $space;
    color: $body-copy-light;
    font-size: .8887rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

.post__content {
  // @include respond-to(medium) {
  //   width: 61.8%;
  //   padding: 0;
  //   margin-left: 38.2%;
  // }
}

.post__figure {
  margin-bottom: $space * 2;

  // @include respond-to(medium) {
  //   margin-left: -38.2%;
  // }
}

.post__figure-caption {
  padding: 0 $space / 2;
  font-size: .8887rem;
  line-height: 1.3;

  // @include respond-to(small) {
  //   display: inline-block;
  //   width: 25%;
  //   float: right;
  //   padding-top: $space;
  //   border-top: 1px solid $body-copy-lighter;
  // }
}

.post__figure-image {
  max-width: 100%;
  margin-bottom: $space/2;
  border: .5rem solid rgba(0,0,0,.1);

  // @include respond-to(small) {
  //   width: calc(75% - 1rem);
  //   margin-right: $space;
  // }
}

.post__break {
  position: relative;
  float: none;
  margin: 0 auto $space*2;
  display: inline-block;
  line-height: 0;
  min-width: 100%;
  max-width: 100%;
  background: transparent;
}

.post__break-image {
  display: none;

  // @include respond-to(medium) {
  //   display: block;
  //   position: relative;
  //   padding-bottom: 50vh;
  //   padding-left: 99999px;
  //   margin-left: -99999px;
  //   padding-right: 99999px;
  //   margin-right: -99999px;
  //   background-position: top center;
  //   background-attachment: fixed;
  //   background-size: cover;
  //   will-change: transform;
  // }
}

.post__break + .post__header {
  position: relative;
  background-color: #fff;

  // @include respond-to(medium) {
  //   margin-top: $space * -5;
  // }
}

.post__section {
  display: flex;
  flex-direction: column;

  @include respond-to(small) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $space;
  }

  & + & {
    margin-top: $space * 4;
  }

  h2,
  h3 {
    margin-top: 0;
  }
}

.content {
  grid-column: 2 / span 3;

  * + & {
    margin-top: $space;
  }
}

h2 {
  grid-column: 2 / span 2;
}

figure {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;

  * + & {
    margin-top: $space;
  }

  @include respond-to(medium) {
    flex-direction: row;
    align-items: center;
  }

  .image {
    flex: 1 1 75%;
    padding: $space;
    border: 1px solid $body-copy-lighter;
    border-radius: ($space * 0.25);
    
    @include respond-to(medium) {
      margin-top: 0;
      padding: $space * 2;
    }
  }

  img {
    width: 100%;
  }

  figcaption {
    flex: 1 1 25%;
    margin-top: -$space * 0.25;
    margin-right: $space;
    margin-left: $space;
    padding: $space;
    background-color:transparentize($body-copy-lighter, 0.9);
    border-radius: ($space * 0.25);
    border-color: $body-copy-lighter;
    border-style: solid;
    border-width: ($space * 0.25) 0 0 0;
    font-size: 0.75rem;

    @include respond-to(medium) {
      margin-top: 0;
      margin-left: -$space * 0.25;
      border-top-width: 0;
      border-left-width: $space * 0.25;
    }
  }
}

// Testimonials
.testimonial {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  * + & {
    margin-top: $space;
  }

  @include respond-to(medium) {
  }

  &__quote {
    position: relative;
    padding: $space * 2;
    border: 1px solid $body-copy-lighter;
    border-radius: ($space * 0.25);
    z-index: 1;

    &::before,
    &::after {
      position: absolute;
      top: $space * 1;
      width: $space * 3;
      height: $space * 3;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTY2LjczIDE2Yy04LjM4IDAtMTUuMjM4IDYuODU3LTE1LjIzOCAxNC45ODQgMCA0LjgyNSAyLjAzMiA4Ljg4OSA2LjA5NSAxMS45MzdMNDcuNjgyIDgwaDEzLjk2OWwxNi41MDgtMzUuMDQ4YzMuMDQ3LTYuODU3IDQuMDYzLTEwLjE1OCA0LjA2My0xMy45NjhDODIuMjIyIDIyLjg1NyA3NS4zNjUgMTYgNjYuNzMgMTZ6bS00My42ODIgMEMxNC42NjcgMTYgNy44MSAyMi44NTcgNy44MSAzMC45ODRjMCA0LjgyNSAyLjAzMSA4Ljg4OSA2LjA5NSAxMS45MzdMNCA4MGgxMy45NjhsMTYuNTA4LTM1LjA0OGMzLjA0OC02Ljg1NyA0LjA2NC0xMC4xNTggNC4wNjQtMTMuOTY4QzM4LjU0IDIyLjg1NyAzMS42ODMgMTYgMjMuMDQ4IDE2eiIgZmlsbD0iIzk0QURDMSIvPjwvc3ZnPg==");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50%;
      border-radius: 50%;
      color: $body-copy-lighter;
      content: '';
      z-index: 2;
    }

    &::before {
      left: $space * -1.5;
    }

    &::after {
      right: $space * -1.5;
      transform: scale3d(-1,-1,1);
    }
  }

  &__author {
    display: flex;
    align-items: center;
    margin-top: $space * -0.25;
    margin-right: $space;
    margin-left: $space;
    padding: $space;
    background-color: transparentize($body-copy-lighter, 0.9);
    border-radius: ($space * 0.25);
    border-color: $body-copy-lighter;
    border-style: solid;
    border-width: ($space * 0.25) 0 0 0;
    font-size: 0.75rem;
  }

  &__image {
    width: $space * 3;
    height: $space * 3;
    margin-right: $space * 0.5;
    background-color: transparentize($body-copy-lighter, 0.9);
    border-radius: 50%;
  }
}