/**************************************
  POSTS
**************************************/

.post {
  header {
    margin-right: $space * -1;
    margin-left: $space * -1;
    display: grid;
    column-gap: $space;
    grid-template-areas: "text"
                         "image";
    background-color: $mb-yellow-light;

    @include respond-to(small) {
      padding-left: $space * 2;
    }

    @include respond-to(medium) {
      margin-right: $space * - 2;
      margin-left: $space * - 2;
      grid-template-columns: 0.5fr minmax(45ch, 2fr) 1fr;
      grid-template-areas: ". text image";
    }

    .text {
      grid-area: text;
      padding-right: $space * 2;
      padding-left: $space * 2;
      margin-top: $space * 6;
      margin-bottom: $space * 2;
      display: flex;
      flex-direction: column;

      @include respond-to(small) {
        padding-right: 0;
        padding-left: 0;
      }

      p {
        max-width: 40ch;
      }
    }

    .image {
      padding-top: $space * 2;
      grid-area: image;
      display: flex;

      &.align-right {
        padding-bottom: $space * 2;
        align-items: center;
        justify-content: end;

        img {
          @include respond-to(medium) {
            transform: scale(150%);
            transform-origin: right;
          }
  
          @include respond-to(huge) {
            transform: scale(125%);
            transform-origin: right;
          }
        }
      }

      &.align-bottom {
        padding-top: $space * 2;
        padding-right: $space * 2;
        align-items: flex-end;
        justify-content: center;

        img {
          @include respond-to(medium) {
            transform: scale(125%) translateX(-25%);
            transform-origin: bottom;
          }
          @include respond-to(large) {
            transform: scale(100%) translateX(-50%);
            transform-origin: bottom;
          }
        }
      }

      img {
        max-height: 65vh;
        max-width: 75vw;
        width: 100%;
        object-fit: scale-down;
      }
    }
  }
}

.post__title {
  margin-bottom: $space*2;
  color: $body-copy-light;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 900;
  line-height: 1.3;
}

.post__section {
  display: flex;
  flex-direction: column;
  margin-right: $space * 2;
  margin-left: $space * 2;

  @include respond-to(tiny) {
    display: grid;
    grid-template-columns: 1fr minmax(35ch, 65ch) 1fr;
    column-gap: $space;
  }

  & + & {
    margin-top: $space * 4;
  }

  &:last-child {
    margin-bottom: $space * 4;
  }

  // h2,
  // h3 {
  //   margin-top: 0;
  // }
}

.content {
  grid-column: 2;

  * + & {
    margin-top: $space;
  }
}

h2 {
  grid-column: 2;
}

.images {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  column-gap: $space * 2;
  row-gap: $space * 2;
  margin-right: $space * -1;
  margin-left: $space * -1;

  * + & {
    margin-top: $space;
  }

  figure {
    display: flex;
    flex-direction: column;
    border-radius: ($space * 0.25);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);

    .image {
      flex: none;
      padding: $space;
      max-height: 600px;

      img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
      }
    }

    figcaption {
      flex: auto;
      padding: $space;
      background-color:transparentize($body-copy-lighter, 0.9);
    }
  }
}

// Testimonials
.testimonial {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  * + & {
    margin-top: $space;
  }

  @include respond-to(medium) {
  }

  &__quote {
    position: relative;
    padding: $space * 2;
    border: 1px solid $body-copy-lighter;
    border-radius: ($space * 0.25);
    z-index: 1;

    &::before,
    &::after {
      position: absolute;
      top: $space * 1;
      width: $space * 3;
      height: $space * 3;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODMiIGhlaWdodD0iOTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTY2LjczIDE2Yy04LjM4IDAtMTUuMjM4IDYuODU3LTE1LjIzOCAxNC45ODQgMCA0LjgyNSAyLjAzMiA4Ljg4OSA2LjA5NSAxMS45MzdMNDcuNjgyIDgwaDEzLjk2OWwxNi41MDgtMzUuMDQ4YzMuMDQ3LTYuODU3IDQuMDYzLTEwLjE1OCA0LjA2My0xMy45NjhDODIuMjIyIDIyLjg1NyA3NS4zNjUgMTYgNjYuNzMgMTZ6bS00My42ODIgMEMxNC42NjcgMTYgNy44MSAyMi44NTcgNy44MSAzMC45ODRjMCA0LjgyNSAyLjAzMSA4Ljg4OSA2LjA5NSAxMS45MzdMNCA4MGgxMy45NjhsMTYuNTA4LTM1LjA0OGMzLjA0OC02Ljg1NyA0LjA2NC0xMC4xNTggNC4wNjQtMTMuOTY4QzM4LjU0IDIyLjg1NyAzMS42ODMgMTYgMjMuMDQ4IDE2eiIgZmlsbD0iIzk0QURDMSIvPjwvc3ZnPg==");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50%;
      border-radius: 50%;
      color: $body-copy-lighter;
      content: '';
      z-index: 2;
    }

    &::before {
      left: $space * -1.5;
    }

    &::after {
      right: $space * -1.5;
      transform: scale3d(-1,-1,1);
    }
  }

  &__author {
    display: flex;
    align-items: center;
    margin-top: $space * -0.25;
    margin-right: $space;
    margin-left: $space;
    padding: $space;
    background-color: transparentize($body-copy-lighter, 0.9);
    border-radius: ($space * 0.25);
    border-color: $body-copy-lighter;
    border-style: solid;
    border-width: ($space * 0.25) 0 0 0;
    font-size: 0.75rem;
  }

  &__image {
    width: $space * 3;
    height: $space * 3;
    margin-right: $space * 0.5;
    background-color: transparentize($body-copy-lighter, 0.9);
    border-radius: 50%;
  }
}

// ROLES
.roles {
  margin-top: $space * 2;
  display: flex;
  flex-direction: column;

  @include respond-to(medium) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: $space * 2;
  }

  .role {
    margin-top: $space * 2;

    @include respond-to(medium) {
      margin-top: 0;
    }
  }
}

// KEY FACTS
.facts {
  margin-top: $space * 2.5;
  display: grid;
  grid-area: facts;
  grid-template-columns: repeat(auto-fit, minmax(10ch, max-content));
  grid-auto-rows: auto;
  gap: $space;
}

.fact {
  &:first-child {
    grid-column: 1 / -1;
  }

  &__name {
    display: block;
    font-size: 0.6875rem;
    letter-spacing: 2%;
    text-transform: uppercase;
  }

  &__value {
    font-size: 1.25rem;
    white-space: nowrap;
  }

  img {
    max-height: $space * 4;
    margin-top: $space * 0.5;
    filter: opacity(0.75);
  }
}

small {
  font-size: 0.75rem;
  line-height: 1rem;
}