/*
   Accessibility
   ========================================================================== */

.vh { 
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*
   Flexbox
   ========================================================================== */

.d-flex { display: flex; }

.flex-grow {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-separate {
  justify-content: space-between;
}

/*
   Misc.
   ========================================================================== */

.d-block {
  display: block;
}