<div id="contact" class="module module--border module--contact">
  <article class="module__body text-center content" style="margin-bottom: -4rem; background-color: floralwhite;">
    <h3 class="title">Let's work together</h3>
    <p>
      You have an interesting project, need help or like to collaborate with me?
      I am happy to hear from you!
    </p>
    <p>
      <a class="link--highlight" href="javascript:linkTo_UnCryptMailto('ocknvq<jgnnqBocvvkdguugt0eqo', 2);">Send me an Email</a>
    </p>
  </article>
</div>
