<header class="site__header">
  <div class="site__header-inner">
    <a href="/" class="owner" role="banner">
      <span class="owner__name">Matti Besser</span>
      <span class="owner__occupation">Webdesign & Frontend Development</span>
    </a>
    <nav class="site__nav" role="navigation">
      <a href="#" class="site__nav-item" title="See projects">
        Work
      </a>
      <a href="#" class="site__nav-item" title="Learn about me">
        About
      </a>
      <a href="#" class="site__nav-item site__nav-item--highlighted " title="Let's talk">
        Get in touch
      </a>
    </nav>
  </div>
</header>
