<header class="site-header">
  <div class="inner">
    <a href="/" class="portrait-box">
      <img src="/img/matti.png" alt="Matti Besser">
    </a>
    <h1 class="welcome">
      Hi, my name is <span class="no-break highlight">Matti</span>. <span class="no-break">I am</span> a freelance <span class="no-break highlight">web designer</span> and <span class="no-break highlight">front-end developer</span>.
    </h1>
    <p>
      <a class="btn-green hire-me"href="javascript:linkTo_UnCryptMailto('ocknvq<jgnnqBocvvkdguugt0eqo', 2);">Let's work together</a>
    </p>
  </div>
</header>
