<header class="site-header">
  <div class="inner">
    <div class="portrait-box">
      <img src="img/matti.png" alt="Matti Besser">
    </div>
    <h1 class="welcome">
      Hi, my name is <span class="no-break highlight">Matti</span>. <span class="no-break">I am</span> a freelance <span class="no-break highlight">web designer</span> and <span class="no-break highlight">front-end developer</span>.
    </h1>
    <p>
      <a href="mailto:hello@mattibesser.com" class="btn-green hire-me">I'm available for hire.</a>
    </p>
  </div>
</header>