<!doctype html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <style type="text/css">
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:300,700,300italic|Merriweather:300italic,900,900italic' rel='stylesheet' type='text/css'>

  <script> <!--
    function UnCryptMailto(s, shift) {
      var n=0;
      var r="";
      for(var i=0;i<s.length;i++) {
        n=s.charCodeAt(i);
        if (n>=8364) {n = 128;}
        r += String.fromCharCode(n-(shift));
      }
      return r;
    }
    function linkTo_UnCryptMailto(s, shift)	{
      location.href=UnCryptMailto(s, shift);
    }
    // --> </script>
</head>
