<div id="services" class="module">
  <div class="module__body">
    <h2>This is what I can help you with</h2>
    <div class="grid grid--halves">
      <div class="grid__item">
        <header>
          <h4 class="lead">
            UX/UI Design
          </h4>
          <h3 class="title">
            Digital product design
          </h3>
        </header>
        <article class="excerpt">
          <p>
            I am a hands-on designer with many years of experience in designing user interfaces for digital products ranging from simple websites to complex web applications and mobile apps.
          </p>
          <p>
            My experience and insights from analytics and user research are the foundation for design decisions that strengthen user experience and support the achieving of business goals. 
          </p>
          <p>
            From the idea to the finished product I work with special attention to the right details and with a strong understanding of web development. At the intersection of design, software development and product management I advocate the user perspective and mediate between the players.
          </p>
          <!-- <ul class="list--squares">
            <li>User Interface and Experience</li>
            <li>User Flows and Wireframes</li>
            <li>Visual Design Mockups</li>
            <li>Prototypes and Styleguides</li>
          </ul> -->
        </article>
      </div>
      <div class="grid__item">
        <header>
          <h4 class="lead">
            UI Development
          </h4>
          <h3 class="title">
            Design implementation
          </h3>
        </header>
        <article class="excerpt">
          <p>
            I am a design implementer who likes to work at the front-front-end of products.
            I specialise in writing HTML and CSS with a dash of JavaScript.
          </p>
          <p>
            Work closely with software developers, I implement robust, component-based front-ends.
            I place the highest value on a pragmatic and precise implementation of the design – usability, accessibility and last but not least, the designers' intention always in mind.
          </p>
          <p>
            In the past I implented design in various stacks, including Ruby on Rails, React and Vue.
          </p>
          <!-- <ul class="list--squares">
            <li>Responsive Web Design</li>
            <li>Cross Browser Compatibility</li>
            <li>Sass as preferred CSS preprocessor</li>
            <li>BEM, OOCSS, ITCSS, SMACSS as methodologies and guiding principles</li>
          </ul> -->
        </article>
      </div>
    </div>
  </div>
</div>
