<div id="services" class="module module--angled-top">
  <div class="module__body">
    <h2>What I offer</h2>
    <div class="grid grid--halves">
      <div class="grid__item">
        <header>
          <h4 class="lead">
            Web design
          </h4>
          <h3 class="title">
            Interfaces for the web
          </h3>
        </header>
        <article class="excerpt">
          <p>
            Classic website, a full-blown web application or anything in between –
            I cover all tasks needed to merge required functionality with
            pleasing aesthetics into products that are easy to use and help users achieving their goals.
          </p>
          <p>
            From ideation and concept over prototypes to the final product – I deliver web sites and apps that fit well on every screen.
          </p>
          <ul class="list--squares">
            <li>User Interface and Experience</li>
            <li>User Flows and Wireframes</li>
            <li>Visual Design Mockups</li>
            <li>Prototypes and Styleguides</li>
          </ul>
        </article>
      </div>
      <div class="grid__item">
        <header>
          <h4 class="lead">
            Development
          </h4>
          <h3 class="title">
            I write HTML and CSS
          </h3>
        </header>
        <article class="excerpt">
          <p>
            I build front-ends specialising on the languages mentioned above.
            My first priority is to write code that is well structured,
            maintainable and easy to read and understand.
          </p>
          <p>
            When I'm not coding my own designs, I support teams and companies in realising
            their projects and products. Many of my past projects were Ruby on
            Rails applications, so I gained a lot experience implementing designs
            in this particular environment.
          </p>
          <ul class="list--squares">
            <li>Responsive Web Design</li>
            <li>Cross Browser Compatibility</li>
            <li>Sass as preferred CSS preprocessor</li>
            <li>BEM, OOCSS, ITCSS, SMACSS as methodologies and guiding principles</li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</div>
