<nav class="site__navigation" role="navigation">
  <input class="navigation__toggle" type="checkbox" id="toggler">
  <label class="navigation__toggle-button" for="toggler">
    <span class="toggle-icon"></span>
    Menu
  </label>
  <ul class="navigation-list">
    <li class="navigation-list__item">
      <a class="navigation__link" href="#services" title="Read about services I offer">Services</a>
    </li>
    <li class="navigation-list__item">
      <a class="navigation__link" href="#work" title="See my latest works">Work</a>
    </li>
    <li class="navigation-list__item">
      <a class="navigation__link" href="#about" title="Read more about Matti Besser">About</a>
    </li>
    <li class="navigation-list__item">
      <a class="navigation__link navigation__link--highlight" href="#contact" title="Contact, let's get in touch">Work with me</a>
    </li>
  </ul>
</nav>
