<nav class="site__navigation" role="navigation">
  <input class="navigation__toggle" type="checkbox" id="toggler">
  <label class="navigation__toggle-button" for="toggler">
    <span class="toggle-icon"></span>
    Menu
  </label>
  <ul class="navigation-list">
    <li class="navigation-list__item">
      <a href="/work">Work</a>
    </li>
    <li class="navigation-list__item">
      <a href="/#about">About</a>
    </li>
    <li class="navigation-list__item highlighted">
      <a href="/#contact">Work with me</a>
    </li>
  </ul>
</nav>
