<footer class="site__footer module" role="contentinfo">
  <div class="module__body">
    <article class="grid grid--halves">
      <section class="grid__item">
        {% include links.html %}
      </section>
      <section class="grid__item">
        {% include colophon.html %}
      </section>
    </article>
    <section class="text-center">
      &copy;{{ site.time | date: '%Y' }} {{ site.author }} •
      <a href="/impressum/index.html" title="Legal Notice and Privacy Statement">Impressum & Datenschutzerklärung</a>
    </section>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
  {% include javascript/app.js %}
  {% include javascript/fittext.js %}
  {% include javascript/prefixfree.js %}
  {% include javascript/analytics.js %}
</script>
