<nav class="site__navigation" >
  <input class="navigation__toggle vh" type="checkbox" role="button" aria-haspopup="true" id="toggle">
  <label class="navigation__toggle-button" for="toggle">
    <span class="toggle-icon" aria-hidden="true"></span>
    Menu
    <span class="vh expanded-text">expanded</span>
    <span class="vh collapsed-text">collapsed</span>
  </label>
  <ul class="navigation-list" role="menu">
    <li class="navigation-list__item">
      <a class="navigation__link" href="/#services" title="Read about services I offer">Services</a>
    </li>
    <li class="navigation-list__item">
      <a class="navigation__link" href="/#work" title="See my latest works">Work</a>
    </li>
    <li class="navigation-list__item">
      <a class="navigation__link" href="/#about" title="Read more about Matti Besser">About</a>
    </li>
    <li class="navigation-list__item">
      <a class="navigation__link navigation__link--highlight" href="/#contact" title="Contact, let's get in touch">Work with me</a>
    </li>
  </ul>
</nav>
