<div id="work" class="module module--angled-top">
  <div class="module__body">
    <h2>The Work</h2>
    <div class="work-grid">
      {% for case_study in site.case_studies %}
        <div class="work-grid-item">
          <div class="text">
            <h3>{{ case_study.title }}</h3>
            <p>{{ case_study.description }}</p>
            <a href="{{ case_study.url }}">View Case Study</a>
          </div>
          <img class="{{ case_study.title_image.type }}" src="{{ site.baseurl }}/img/{{ case_study.project_name }}/{{ case_study.title_image.url }}" alt="{{ case_study.title_image.alt }}">
        </div>
      {% endfor %}
    </div>
  </div>
</div>
