// BUTTONS

.btn {
  display: inline-block;
  padding: .25rem 1.5rem;
  border-radius: .5rem;
  color: #fff;
  text-decoration: none;
  @include transition(background-color);

  &:hover {
    @include transition(background-color);
  }
}

.btn-green {
  @extend .btn;
  background-color: $lighter-green;

  &:hover {
    background-color: $light-green;
  }
}

.hire-me {
  display: block;
  width: 230px;
  margin: 1.688rem auto -1.688rem;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .hire-me {
    display: inline-block;
    width: auto;
    margin: 0;
  }
}