// LAYOUT

// micro cleafix by Nicolas Gallagher

.cf:before,
.cf:after {
  content: " ";
}

.cf:after {
  clear: both;
}

.site-header,
.site-footer,
.main {
  padding-bottom: 1rem;
  @extend .cf;
}

.inner {
  max-width: 800px;
  padding: 0 1em;
  margin: 0 auto 2em auto;
}
