// LAYOUT

// micro cleafix by Nicolas Gallagher

.cf:before,
.cf:after {
  content: " ";
}

.cf:after {
  clear: both;
}

.site-header,
.site-footer,
.main-content {
  max-width: 800px;
  padding: 0 1em;
  margin: 3em auto;

  @extend .cf;
}