// TYPOGRAPHY

body {
  font-size: 1.0000rem;
  line-height: 1.5000rem;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2.6250rem;
  font-weight: 300;
  line-height: 3.0000rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.6250rem;
  line-height: 3.0000rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.6250rem;
  line-height: 3.0000rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

p, ul {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

small, aside {
  font-size: 0.6250rem;
}