// COLOR PALETTE

// $dark-red: #8E302D;
// $light-red: #CE4F4B;

$dark-green: #4E9187;
$light-green: #4E9187;
$lighter-green : lighten($light-green, 20%);

// alternate palette

$blue: #324656;
$light-blue: lighten($blue, 20%);

$red: #C94F41;
$light-red: lighten($red, 20%);
$dark-red: darken($red, 20%);

$yellow: #F1BB52;
$light-yellow: #FBE1B0;

$purple: #835884;
$light-purple: #B482B5;