// SITE HEADER STYLES

.portrait-box {
  display: block;
  width: 135px;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .portrait-box {
    float: left;
    margin: 0 1em 1em 0;
  }
}

.welcome {
  display: table-cell;
  height: 135px;
  color: $dark-red;
  font-size: 35px;
  font-style: italic;
  vertical-align: middle;

  span {
    display: inline-block;
    color: #fff;
  }
}