// SITE HEADER STYLES

.site-header {
  padding: 2em 0 4em;
  background-color: $light-red;
}

.portrait-box {
  display: block;
  width: 135px;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}

.welcome {
  display: table-cell;
  height: 135px;
  color: $dark-red;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  vertical-align: middle;

  .highlight {
    color: #fff;
  }
}

@media screen and (min-width: 600px) {
  .portrait-box {
    float: left;
    margin: 0 1em 1em 0;
  }

  .welcome {
    text-align: left;
  }
}