<ul class="post__details">
  {% if post.key_facts.client %}
    <li>
      <h4>Client</h4>
      <p>
        <a href="{{ post.client_url }}">
          {{ post.key_facts.client.name }}
        </a>
      </p>
    </li>
  {% endif %}
  {% if post.key_facts.roles %}
    <li>
      <h4>My Role</h4>
      <p>{{ post.key_facts.roles | array_to_sentence_string }}</p>
    </li>
  {% endif %}
  {% if post.project_url %}
    <li>
      <h4>See it live</h4>
      <p>
        <a href="{{ post.project_url }}">{{ post.project_url | replace:'http://','' }}</a>
      </p>
    </li>
  {% endif %}
</ul>
