---
layout: default
---
<article class="post">
  <header>
    <div class="text">
      <h1>{{ page.title }}</h1>
      <p>{{ page.description | markdownify | smartify }}</p>
      {% if page.key_facts %}
        {% include case_studies/key_facts.html %}
      {% endif %}
    </div>
    <div class="image">
      <img src="{{ site.baseurl }}/img/{{ page.project_name }}/{{ page.title_image.url }}" alt="{{ page.title_image.alt }}">
    </div>
  </header>

  {% if page.roles %}
    {% include case_studies/roles.html %}
  {% endif %}

  {% if page.sections %}
    {% for section in page.sections %}
      <section class="post__section">
        <h2>{{ section.title }}</h2>

        {% for content in section.contents %}
          {% if content.heading or content.text %}
            <div class="content">
              {% if content.heading %}
                <h3>{{ content.heading }}</h3>
              {% endif %}
              {% if content.text %}
                {{ content.text | markdownify | smartify }}
              {% endif %}
            </div>
          {% endif %}
          {% if content.images %}
            <div class="images">
              {% for image in content.images %}
                <figure>
                  <div class="image">
                    <img src="{{ site.baseurl }}/img/{{ page.project_name }}/{{ image.image_url }}" alt="{{ image.image_alt }}">
                  </div>
                  <figcaption>{{ image.image_caption | markdownify | smartify }}</figcaption>
                </figure>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}

      </section>
    {% endfor %}
  {% endif %}

  {% assign testimonial = site.data.testimonials | where: "project", page.project_name %}
  {% assign testimonial_count = testimonial | size %}
  {% if testimonial_count > 0 %}
    {% include case_studies/testimonials.html %}
  {% endif %}
</article>
