---
layout: default
---
<article class="post">
  <header>
    <div class="text">
      <h1>{{ page.title }}</h1>
      <p>{{ page.description | markdownify | smartify }}</p>
      {% if page.key_facts %}
        {% include case_studies/key_facts.html %}
      {% endif %}
    </div>
    <div class="image">
      <img src="{{ site.baseurl }}/img/{{ page.project_name }}/{{ page.title_image.url }}" alt="{{ page.title_image.alt }}">
    </div>
  </header>

  {% if page.roles %}
    {% include case_studies/roles.html %}
  {% endif %}

  {% if page.sections %}
    {% for section in page.sections %}
      <section class="post__section">
        <h2>{{ section.title }}</h2>

        {% for content in section.contents %}
          {% if content.heading or content.text %}
            <div class="content">
              {% if content.heading %}
                <h3>{{ content.heading }}</h3>
              {% endif %}
              {% if content.text %}
                {{ content.text | markdownify | smartify }}
              {% endif %}
            </div>
          {% endif %}
          {% if content.image_url %}
            <figure>
              <div class="image">
                <img src="{{ site.baseurl }}/img/{{ page.project_name }}/{{ content.image_url }}" alt="{{ content.image_alt | markdownify | smartify }}">
              </div>
              <figcaption>{{ content.image_caption | markdownify | smartify }}</figcaption>
            </figure>
          {% endif %}
        {% endfor %}

      </section>
    {% endfor %}

  {% endif %}
  
  {% assign testimonial = site.data.testimonials | where: "project", page.project_name %}
  {% assign testimonial_count = testimonial | size %}
  {% if testimonial_count > 0 %}
    <section class="post__section">
      <h2>What they are saying</h2>
      {% for quote in testimonial %}
          <blockquote class="testimonial">
            <p class="testimonial__quote">
              {% if quote.quote_en %}
                {{ quote.quote_en | smartify }}
              {% else %}
                {{ quote.quote_de | smartify }}
              {% endif %}
            </p>
            <div class="testimonial__author">
              {% if quote.person_image %}
                <img class="testimonial__image" src="{{ site.baseurl }}/img/testimonials/{{ quote.person_image }}" alt="{{ quote.person_image_alt }}">
              {% endif %}
              <span>  
                <a href="{{ quote.person_url }}"><strong>{{ quote.person_name }}</strong></a>
                <br>
                <small>{{ quote.person_role }}, {{ quote.person_company }}</small>
              </span>
            </div>
          </blockquote>
      {% endfor %}
    </section>
  {% endif %}
</article>
